html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.box .box-header .box-tit-eng{
    padding-bottom: 0;
    color: #828282;
    font-size: 20px;
    text-align: center;
}
.box .box-header .box-tit{
    margin-top: 0;
    font-size: 27px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}


#nav{
    padding: 15px 0;
    margin:0;
}

#nav .tel{
    color:rgb(35,108,185);
    font-size: 24px;
}
#nav .logo{
    display: inline-block;
    margin-top: -13px;
    box-sizing: border-box;
}


#banner{
    position: relative;
    padding: 0;
}
#banner .border-box{
    position: absolute;
    top: 26%;
    left: 50%;
    width: 320px;
    height: 75px;
    background: linear-gradient(to left, #fff, #fff) left top no-repeat,
    linear-gradient(to bottom, #fff, #fff) left top no-repeat,
    linear-gradient(to left, #BFB5B1, #BFB5B1) right top no-repeat,
    linear-gradient(to bottom, #BFB5B1, #BFB5B1) right top no-repeat,
    linear-gradient(to left, #BFB5B1, #BFB5B1) left bottom no-repeat,
    linear-gradient(to bottom, #BFB5B1, #BFB5B1) left bottom no-repeat,
    linear-gradient(to left, #fff, #fff) right bottom no-repeat,
    linear-gradient(to left, #fff, #fff) right bottom no-repeat;
    background-size: 4px 30px, 70px 4px, 4px 30px, 70px 4px;

    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);

    color: #ffffff;
    text-align: center;
    line-height: 75px;
    font-size: 45px;
    font-weight: 300;
}
#banner .eng{
    color: #c9c9c9;
    font-size: 30px;
    position: absolute;
    top: -80%;
    width: 100%;
    text-align: center;
    font-weight: 300;
}
#banner .desc{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30%;
    color: #f0f0f0;
    font-size: 40px;
    letter-spacing: 5px;
}
#banner .desc span{
    font-weight: bold;
}


#company{
    padding: 50px 0;
}
#company .row{
    margin-top: 30px;
}
#company .word p{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 16px;
    text-indent: 10%;
}
#company .pull-left{
    margin-top: 5px;
}
#company .c-img{
    float: right;
}


#culture{
    padding: 50px 0;
}
#culture .row > p{
    text-align: center;
    line-height: 30px;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
}

#culture .c-box{
    padding: 20px 0;
    margin-top: 15px;
    text-align: center;
}

#culture .c-box p{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    line-height: 22px;
    color: #535353;
}



#help{
    position: relative;
}
#help p.t1{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    display: block;
    text-align: center;
    font-size: 56px;
    letter-spacing: 5px;
    color: #f0f0f0;
}
#help p.t2{
    width: 70%;
    margin-left: 15%;
    position: absolute;
    top: 52%;
    left: 0;
    display: block;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    color: #f0f0f0;
}


#message{
    background-color: #F6F6F6;
    padding: 50px 0;
    margin: 0;
}
#message .container{
    margin-top: 30px;
}
#message h3{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
#message input{
    width: 100%;
    height: 48px;
    text-indent: 1em;
    border: 1px solid #cccccc;
    margin-top: 25px;
}
#message input:focus{
    border: 1px solid #000000;
}
#message textarea{
    width: 100%;
    height: 120px;
    padding: 1em;
    resize: none;
    margin-top: 25px;
}
#message textarea:focus{
    border: 1px solid #000000;
}
#submit{
    margin-top: 50px;
    padding: 9px 30px;
    border-radius: 4px;
    letter-spacing: 3px;
    font-size: 17px;
    border: 1px solid rgb(23,101,182);
    background-color: rgb(23,101,182);
    color: #f0f0f0;
}



#location{
    padding: 50px 0;
}
#location .row > div:first-child{
    margin-top: 8%;
}
#location h4{
    margin-bottom: 30px;
    font-weight: bold;
}
#location .info{
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
#location .info img{
    display: inline-block;
    width: 15%;
    max-width: 34px;
}
#location .info span{
    display: inline-block;
    width: 82%;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
#location .map{
    width: 100%;
}


/*bot*/
#bot{
    background-color: #f1f1f1;
    padding: 12px 0;
}
#bot h5{
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1px;
}



/*媒体查询*/
@media (max-width: 480px){

    #banner .border-box{
        top: 25%;
        width: 160px;
        height: 36px;
        line-height: 36px;
        font-size: 19px;
        background-size: 2px 12px, 32px 2px, 2px 12px, 32px 2px;
    }
    #banner .eng{
        font-size: 17px;
        top: -80%;
    }
    #banner .desc{
        font-size: 16px;
        letter-spacing: 1px;
        bottom: 18%;
    }
    #banner .desc span{
        font-weight: normal;
    }


    #company{
        padding: 10px 0;
    }
    #company .row{
        margin-top: 10px;
    }
    #company .word p{
        letter-spacing: 1px;
        line-height: 22px;
        font-size: 14px;
    }
    #company .pull-left:first-child{
        margin-top: 12px;
    }
    #company .pull-left:last-child{
        margin-top: 0;
    }


    #culture{
        padding: 10px 0;
    }
    #culture .row p{
        line-height: 22px;
        margin-top: 12px;
    }

    #culture .c-box{
        padding: 10px 0;
        margin-top: 15px;
        text-align: center;
    }


    #help p.t1{
        top: 10%;
        font-size: 22px;
        letter-spacing: 3px;
    }
    #help p.t2{
        top: 52%;
        font-size: 12px;
        letter-spacing: 1px;
    }


    #message{
        padding: 20px 0;
    }
    #message .container{
        margin-top: 8px;
    }
    #message input{
        width: 100%;
        height: 36px;
        text-indent: 1em;
        margin-top: 10px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 80px;
        margin-top: 10px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 10px;
        font-size: 15px;
    }


    #location{
        padding: 20px 0 0 0;
    }
    #location .row > div:first-child{
        margin-top: 0;
        text-align: center;
    }
    #location h4{
        text-align: center;
        margin-bottom: 10px;
    }
    #location .info{
        padding: 3px 0 10px 24%;
    }

}


@media (min-width: 480px){
    #banner .border-box{
        top: 30%;
        width: 182px;
        height: 43px;
        line-height: 43px;
        font-size: 22px;
        background-size: 2px 14px, 36px 2px, 2px 14px, 36px 2px;
    }
    #banner .eng{
        font-size: 18px;
        top: -80%;
    }
    #banner .desc{
        font-size: 17px;
        letter-spacing: 2px;
        bottom: 20%;
    }
    #banner .desc span{
        font-weight: normal;
    }


    #company{
        padding: 25px 0;
    }
    #company .word p{
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 22px;
    }
    #company .pull-left{
        margin-top: 8px;
    }
    #company .pull-left:first-child{
        margin-top: 15px;
    }
    #company .pull-left:last-child{
        margin-top: 5px;
    }
    #company .c-img{
        float: none;
        margin: 0 auto;
        display: block;
    }


    #culture{
        padding: 25px 0;
    }
    #help p.t1{
        top: 15%;
        font-size: 25px;
        letter-spacing: 3px;
    }
    #help p.t2{
        top: 52%;
        font-size: 14px;
        letter-spacing: 2px;
    }


    #message{
        padding: 25px 0;
    }
    #message .container{
        margin-top: 8px;
    }
    #message input{
        width: 100%;
        height: 40px;
        text-indent: 1em;
        margin-top: 10px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 90px;
        margin-top: 10px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 10px;
        font-size: 15px;
    }


    #location{
        padding: 30px 0;
    }
    #location .row > div:first-child{
        margin-top: 0;
    }
    #location h4{
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
    }
    #location .info{
        text-align: left;
        padding: 3px 0 10px 32%;
    }

}


@media (min-width: 768px){
    #banner .border-box{
        top: 30%;
        width: 190px;
        height: 48px;
        line-height: 48px;
        font-size: 23px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 20px;
        top: -80%;
    }
    #banner .desc{
        font-size: 19px;
        letter-spacing: 3px;
        bottom: 20%;
    }
    #banner .desc span{
        font-weight: bold;
    }


    #company{
        padding: 35px 0;
    }
    #company .row{
        margin-top: 20px;
    }
    #company .word p{
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 18px;
    }
    #company .pull-left{
        margin-top: 8px;
    }
    #company .pull-left:first-child{
        margin-top: 0;
    }
    #company .pull-left:last-child{
        margin-top: 5px;
    }


    #culture{
        padding: 35px 0;
    }

    #help p.t1{
        top: 20%;
        font-size: 28px;
        letter-spacing: 3px;
    }
    #help p.t2{
        top: 52%;
        font-size: 18px;
        letter-spacing: 2px;
    }


    #message{
        padding: 35px 0;
    }
    #message .container{
        margin-top: 8px;
    }
    #message input{
        width: 100%;
        height: 42px;
        text-indent: 1em;
        margin-top: 15px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 100px;
        margin-top: 15px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 25px;
        font-size: 16px;
    }


    #location{
        padding: 35px 0;
    }
    #location .row > div:first-child{
        margin-top: 7%;
    }
    #location h4{
        font-weight: bold;
        text-align: left;
        margin-bottom: 15px;
    }
    #location .info{
        text-align: left;
        padding: 3px 0 10px 0;
    }
}


@media (min-width: 992px){
    #banner .border-box{
        top: 30%;
        width: 240px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 24px;
        top: -80%;
    }
    #banner .desc{
        font-size: 26px;
        letter-spacing: 4px;
        bottom: 20%;
    }
    #banner .desc span{
        font-weight: bold;
    }


    #company{
        padding: 40px 0;
    }
    #company .word p{
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 22px;
    }
    #company .pull-left{
        margin-top: 8px;
    }
    #company .pull-left:first-child{
        margin-top: 0;
    }
    #company .pull-left:last-child{
        margin-top: 5px;
    }

    #culture{
        padding: 40px 0;
    }
    #culture .row p{
        font-size: 16px;
    }



    #help p.t1{
        top: 22%;
        font-size: 36px;
        letter-spacing: 3px;
    }
    #help p.t2{
        top: 52%;
        font-size: 26px;
        letter-spacing: 2px;
    }


    #message{
        padding: 40px 0;
    }
    #message .container{
        margin-top: 12px;
    }
    #message input{
        width: 100%;
        height: 45px;
        text-indent: 1em;
        margin-top: 15px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 105px;
        margin-top: 15px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 25px;
        font-size: 17px;
    }


    #location{
        padding: 40px 0;
    }
    #location .row > div:first-child{
        margin-top: 8%;
    }
    #location h4{
        font-weight: 600;
        text-align: left;
        margin-bottom: 15px;
    }
    #location .info{
        text-align: left;
        padding: 3px 0 10px 0;
    }

}


@media (min-width: 1200px){

    #banner .border-box{
        top: 30%;
        width: 280px;
        height: 70px;
        line-height: 70px;
        font-size: 38px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 28px;
        top: -80%;
    }
    #banner .desc{
        font-size: 34px;
        letter-spacing: 5px;
        bottom: 25%;
    }
    #banner .desc span{
        font-weight: bold;
    }


    #company .word p{
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 24px;
    }


    #culture .row p{
        font-size: 16px;
    }


    #help p.t1{
        top: 25%;
        font-size: 38px;
        letter-spacing: 3px;
    }
    #help p.t2{
        width: 100%;
        left: 0;
        margin-left: 0;
        top: 52%;
        font-size: 24px;
        letter-spacing: 3px;
    }


    #message .container{
        margin-top: 12px;
    }
    #message input{
        width: 100%;
        height: 45px;
        text-indent: 1em;
        margin-top: 15px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 105px;
        margin-top: 15px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 25px;
        font-size: 17px;
    }


    #location{
        padding: 35px 0;
    }
    #location .row > div:first-child{
        margin-top: 8%;
    }
    #location h4{
        font-weight: 600;
        text-align: left;
        margin-bottom: 15px;
    }
    #location .info{
        text-align: left;
        padding: 3px 0 10px 0;
    }

}


@media (min-width: 1440px){

    #banner .border-box{
        position: absolute;
        top: 28%;
        left: 50%;
        width: 325px;
        height: 84px;
        line-height: 84px;
        font-size: 46px;
        background-size: 4px 28px, 72px 4px, 4px 28px, 72px 4px;
    }
    #banner .eng{
        font-size: 34px;
        top: -80%;
    }
    #banner .desc{
        bottom: 30%;
        font-size: 32px;
        letter-spacing: 4px;
    }
    #banner .desc span{
        font-weight: bold;
    }



    #company{
        padding: 50px 0;
    }
    #company .row{
        margin-top: 30px;
    }
    #company .word p{
        letter-spacing: 1px;
    }
    #company .pull-left{
        margin-top: 5px;
    }
    #company .c-img{
        float: right;
    }


    #culture{
        padding: 50px 0;
    }
    #culture .row > p{
        text-align: center;
        line-height: 30px;
        width: 70%;
        margin-left: 15%;
        margin-top: 10px;
    }

    #culture .c-box{
        padding: 20px 0;
        margin-top: 15px;
        text-align: center;
    }


    #help p.t1{
        top: 25%;
        left: 0;
        font-size: 45px;
        letter-spacing: 5px;
    }
    #help p.t2{
        top: 55%;
        left: 0;
        font-size: 28px;
        letter-spacing: 3px;
    }


    #message{
        padding: 50px 0;
    }
    #message .container{
        margin-top: 30px;
    }

    #message input{
        width: 100%;
        height: 48px;
        text-indent: 1em;
        border: 1px solid #cccccc;
        margin-top: 25px;
    }
    #message input:focus{
        border: 1px solid #000000;
    }
    #message textarea{
        width: 100%;
        height: 120px;
        padding: 1em;
        resize: none;
        margin-top: 25px;
    }
    #message textarea:focus{
        border: 1px solid #000000;
    }
    #submit{
        margin-top: 30px;
        font-size: 18px;
    }



    #location{
        padding: 50px 0;
    }
    #location .row > div:first-child{
        margin-top: 8%;
    }
    #location h4{
        margin-bottom: 30px;
        font-weight: 500;
    }
    #location .info{
        padding: 18px 0;
    }
    #location .info img{
        width: 15%;
        max-width: 34px;
    }
    #location h4{
        font-weight: bold;
    }
    #location .info span{
        display: inline-block;
        width: 82%;
        margin-left: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }


    /*导航栏样式*/
    .navbar-right{
        margin-top: 7px;
    }
    .navbar-nav li{
        padding-left: 10px;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
    }
    .navbar-nav .dropdown-menu li{
        padding-left: 0;
    }
    .navbar-nav .dropdown-menu li a{
        text-align: center;

        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }
    .navbar-nav .dropdown-menu li a:hover{
        padding-right: 30px;
    }
    .navbar-nav li a{
        padding: 10px;
    }

}


@media (min-width: 1920px){
    html,body{
        width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
    }

}


