.col-md-1-5 {
    width: 20%;
    float: left;
}
.col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
@media (max-width: 480px) {
    .col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
        display: none;
    }
}
@media (min-width: 768px) {
    .col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
        display: inline-block;
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
        width: 20%;
        float: left;
    }
}


#banner{
    position: relative;
}

#banner .container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
#banner h1{
    color: #ffffff;
    margin-top: 10%;
    font-size: 55px;
    letter-spacing: 5px;
    text-align: center;
}
#banner p{
    color: #b2b3b6;
    margin-top: 5%;
    font-size: 25px;
    letter-spacing: 3px;
}
#banner p > span{
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}


#main{
    border-top: 1px solid #cccccc;
    padding: 50px 0;
}
#main .desc{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
}
#main img{
    margin-top: 20px;
    margin-bottom: 20px;
}
#main .example{
    margin-top: 50px;
}



#advantage{
    padding: 50px 0;
}
#advantage .gray{
    color: #000;
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
    padding: 40px 0;
    background-color: rgb(248,248,248);
}
#advantage .a-box{
    padding: 5%;
}
#advantage .a-box .media-heading{
    margin-top: 5%;
    font-weight: bold;
}


#study{
    padding: 50px 0;
    background-color: rgb(248,248,248);
}
#study .container{
    padding-right: 5%;
    padding-left: 5%;
    background: url("../images/distribution/study.png") no-repeat 80% 20% padding-box;
}
#study .s-fir{
    margin-top: 5%;
    width: 50%;
}
#study p{
    line-height: 28px;
}
#study p span{
    color: #2aabd2;
}



#function{
    padding: 50px 0;
}

#function .f-box{
    padding: 20px 0;
}
#function .f-box img{
    display: block;
}
#function .f-box span{
    display: block;
    text-align: center;
    padding: 10px 0 0 0;
}



#choose{
    padding: 50px 0;
    background: url("../images/distribution/ch-back.png") no-repeat;
    background-size: cover;
}
#choose .ch-box{
    position: relative;
    margin: 10px 0;
    padding: 8px;
}
#choose .center-block{
    width: 98%;
}
#choose .ch-box > h3{
    position: absolute;
    top: 18%;
    width: 90%;
    text-align: center;
}
#choose .ch-box > div{
    position: absolute;
    top: 40%;
    left: 12%;
    width: 75%;
    color: #b2b3b6;
}
#choose .ch-box > div p{
    text-align: center;
}


#six{
    padding: 50px 0;
}
#six img{
    margin-top: 50px;
}


#info{
    padding: 50px 0;
    background-color: rgb(248,248,248);
}
#info .i-desc{
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}
#info .page{
    width: 100px;
    margin: 30px auto;
    padding-bottom: 10px;
}
#info .art{
    padding-top: 30px;
}

#info .art-l,#info .art-r{
    height: 204px;
}
#info .art-l{
    margin-left: 50px;
    float: left;
    display: inline;
}
#info .art-r{
    margin-left: -50px;
    margin-top: 30px;
    float: left;
    display: inline;
    background-color: #ffffff;
}

#info button{
    border: 1px solid #2aabd2;
    color: #2aabd2;
}

#info .article .art-tit{
    font-size: 18px;
    color: #2aabd2;
    margin: 20px 0 15px 0;
}
#info .i-con{
    line-height:2.1em;
    height: 6.3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#info .time{
    margin-top: 5%;
}
#info .date{
    font-family: Arial;
    font-size: 32px;
    color: rgb(135,135,135);
    display: block;
    text-align: center;
    padding-bottom: 0;
}
#info .date::after{
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #2aabd2;
    margin: 0 auto;
}
#info .year{
    text-align: center;
    font-size: 22px;
    color: #2aabd2;
    margin: 0 auto;
    display: block;
    padding: 20px 15px;
}
#info .row{
    display: none;
}
#info .current{
    display: block;
}

@media (max-width: 480px) {

    .lazy{
        width: 90%;
        margin-left: 5%;
    }
    #banner .container{
        top: 0;
        width: 90%;
        padding: 0;
        margin: 0;
    }
    #banner h1{
        margin-top: 5%;
        font-size: 22px;
        letter-spacing: 1px;
    }
    #banner p{
        margin-top: 0;
        font-size: 12px;
        letter-spacing: 1px;
    }

    #banner p > span{
        display: inline-block;
        width: 50%;
        height: 100%;
        text-align: center;
        float: left;
    }

    .jump{
        height: 60px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }


    .problem{
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    .problem span{
        font-size: 22px;
    }


    #main,#advantage{
        padding: 20px 0;
    }
    #main .desc{
        line-height: 24px;
        font-size: 14px;
    }
    #main img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #main .example{
        margin-top: 30px;
    }



    #advantage .gray{
        font-size: 22px;
        margin: 0;
        padding: 20px 0;
        background-color: rgb(248,248,248);
    }


    #study{
        padding: 20px 0;
        background-color: rgb(248,248,248);
    }
    #study .container{
        background: url("../images/distribution/study.png") no-repeat 50% 0 padding-box;
    }
    #study h3{
        margin-top: 58%;
        text-align: center;
        font-size: 20px;
    }
    #study .s-fir{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
    #study p{
        line-height: 28px;
        width: 90%;
        margin-left: 5%;
    }
    #study p span{
        color: #2aabd2;
    }


    #choose{
        padding: 20px 0;
    }
    #choose .show-xs{
        margin: 20px 0;
        padding-top: 10px;
    }
    #choose .show-xs > div{
        border: 1px solid #cccccc;
        margin: 30px 0;
        padding: 30px 10px;
        position: relative;
    }
    #choose .show-xs .col-xs-6 > img{
        position: absolute;
        top: -10%;
        left: 50%;
        width: 30%;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
    }
    #choose .show-xs .col-xs-6 h3{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    #choose .show-xs .col-xs-6 p{
        height: 150px;
    }



    #six{
        padding: 20px 0;
    }
    #six img{
        margin-top: 20px;
    }



    #info{
        padding: 20px 0;
    }
    #info .i-desc{
        font-size: 14px;
        margin: 10px 0;
    }
    #info .page{
        width: 100px;
        margin: 15px auto;
        padding-bottom: 10px;
    }
    #info .art{
        padding-top: 30px;
    }
    #info .art-l,#info .art-r{
        height: 150px;
    }
    #info .art-l{
        margin-left: 30px;
    }
    #info .art-r{
        margin-left: -30px;
        margin-top: 20px;
    }
    #info .article .art-tit{
        font-size: 14px;
        color: #2aabd2;
        margin: 10px 0 8px 0;
        line-height:1.6em;
        height: 3.2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    #info .i-con{
        line-height:1.6em;
        height: 4.8em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    #info .time{
        margin-top: 8%;
        padding: 0;
    }
    #info .date{
        font-size: 20px;
        color: rgb(135,135,135);
        display: block;
        text-align: center;
        padding-bottom: 0;
    }
    #info .date::after{
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background-color: #2aabd2;
        margin: 0 auto;
    }
    #info .year{
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
        display: block;
        padding: 5px;
    }
    #info .row{
        display: none;
    }
    #info .current{
        display: block;
    }

}
@media (min-width: 480px){
    #choose .show-xs{
        display: none;
    }
}
@media (min-width: 768px){
    #choose .show-xs{
        display: none;
    }
}

@media (min-width: 992px){
    #choose .show-xs{
        display: none;
    }
}

@media (min-width: 1200px){
    #choose .show-xs{
        display: none;
    }
}

@media (min-width: 1440px){
    #choose .show-xs{
        display: none;
    }
}


@media (min-width: 1600px){
    #choose .show-xs{
        display: none;
    }
}

