@media (max-width: 480px){
    #box1,#box2,#demand,#flow,#show{
        padding: 20px 0;
    }
    .con-header .sort-tit{
        font-size: 20px;
    }

    #banner .border-box{
        top: 28%;
        width: 150px;
        height: 36px;
        line-height: 34px;
        font-size: 19px;
        background-size: 2px 12px, 32px 2px, 2px 12px, 32px 2px;
    }
    #banner .eng{
        font-size: 16px;
        top: -85%;
    }
    #banner .desc{
        font-size: 16px;
        letter-spacing: 1px;
        bottom: 15%;
    }



    .jump{
        height: 60px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }


    #box1 .desc-box{
        width: 80%;
        margin-left: 10%;
    }
    #box1 .desc{
        line-height: 20px;
        margin-top: 12px;
        font-size: 12px;
    }
    #box1 .x-div{
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 5px 0;
    }
    #box1 .x-div img{
        margin-left: 10%;
    }
    #box1 .x-div p{
        padding: 0 10px;
        margin-left: 0;
        line-height: 42px;
        margin-right: 20px;
        width: 65%;
    }



    #box2 .row > div{
        padding: 15px 0;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    #box2 .row > div > span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



    #flow .btns{
        margin-top: 15px;
    }


    #show .e-img{
        margin-top: 15px;
    }
}

@media (min-width: 480px){
    #box1,#box2,#demand,#flow,#show{
        padding: 30px 0;
    }
    .con-header .sort-tit{
        font-size: 20px;
    }
    .problem{
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    .problem span{
        font-size: 22px;
    }


    #banner .border-box{
        top: 30%;
        width: 160px;
        height: 43px;
        line-height: 43px;
        font-size: 22px;
        background-size: 2px 14px, 36px 2px, 2px 14px, 36px 2px;
    }
    #banner .eng{
        font-size: 18px;
        top: -80%;
    }
    #banner .desc{
        font-size: 17px;
        letter-spacing: 2px;
        bottom: 20%;
    }


    .jump{
        height: 70px;
    }
    .jump h2{
        font-size: 22px;
        line-height: 70px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }


    #box1 .desc-box{
        width: 80%;
        margin-left: 10%;
    }
    #box1 .desc{
        line-height: 20px;
        margin-top: 12px;
        font-size: 14px;
        width: 80%;
    }
    #box1 .x-div{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }



    #flow .btns{
        margin-top: 20px;
    }

    #show .e-img{
        margin-top: 20px;
    }

}

@media (min-width: 768px){
    #box1,#box2,#demand,#flow,#show{
        padding: 40px 0;
    }
    .con-header .sort-tit{
        font-size: 24px;
    }
    .problem{
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .problem span{
        font-size: 24px;
    }


    #banner .border-box{
        top: 30%;
        width: 190px;
        height: 48px;
        line-height: 48px;
        font-size: 23px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 20px;
        top: -80%;
    }
    #banner .desc{
        font-size: 19px;
        letter-spacing: 3px;
        bottom: 20%;
    }


    .jump{
        height: 70px;
    }
    .jump h2{
        font-size: 20px;
        line-height: 75px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .jump .breadcrumb{
        margin-top: 20px;
    }


    #box1 .desc-box{
        width: 80%;
        margin-left: 10%;
    }
    #box1 .desc{
        line-height: 22px;
        margin-top: 12px;
        font-size: 16px;
    }


    #box1 .x-div{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    #box2 h4{
        font-size: 18px;
    }
    #box2 .row > div{
        padding: 15px 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    #flow .btns{
        margin-top: 35px;
    }

    #show .e-img{
        margin-top: 20px;
    }
}

@media (min-width: 992px){
    #box1,#box2,#demand,#flow,#show{
        padding: 40px 0;
    }
    .con-header .sort-tit{
        font-size: 26px;
    }
    .problem{
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .problem span{
        font-size: 24px;
    }

    #banner .border-box{
        top: 30%;
        width: 240px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 24px;
        top: -80%;
    }
    #banner .desc{
        font-size: 26px;
        letter-spacing: 4px;
        bottom: 20%;
    }

    .jump{
        height: 75px;
    }
    .jump h2{
        font-size: 22px;
        line-height: 75px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .jump .breadcrumb{
        margin-top: 20px;
    }


    #box1 .x-div{
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 10px 0;
        border: none;
    }
    #box1 .desc-box{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #box1 .desc{
        line-height: 24px;
        font-size: 16px;
        display: block;
        margin: 12px auto;
    }


    #box2 h4{
        font-size: 18px;
    }
    #box2 .row > div{
        padding: 15px 0;
        margin-top: 25px;
        margin-bottom: 25px;
    }


    #flow .btns{
        margin-top: 35px;
    }

    #show .e-img{
        margin-top: 20px;
    }
}

@media (min-width: 1440px){
    #box1,#box2,#demand,#flow,#show{
        padding: 40px 0;
    }
    .con-header .sort-tit{
        font-size: 26px;
    }
    .problem{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .problem span{
        font-size: 32px;
    }

    #banner .border-box{
        top: 30%;
        width: 280px;
        height: 70px;
        line-height: 70px;
        font-size: 38px;
        background-size: 2px 16px, 40px 2px, 2px 16px, 40px 2px;
    }
    #banner .eng{
        font-size: 28px;
        top: -80%;
    }
    #banner .desc{
        font-size: 34px;
        letter-spacing: 5px;
        bottom: 25%;
    }

    .jump{
        height: 80px;
    }
    .jump h2{
        font-size: 24px;
        line-height: 85px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .jump .breadcrumb{
        margin-top: 25px;
    }

    #box1 h3{
        font-size: 32px;
        margin-top: 5px;
        text-align: left;
    }

    #box1 .desc{
        font-size: 16px;
        line-height: 28px;
        margin-top: 30px;
        width: 90%;
        margin-left: 5%;
    }
    #box1 .x-div{
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 10px 0;
    }

    #box2 h4{
        font-size: 18px;
    }
    #box2 .row > div{
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    #flow .btns{
        margin-top: 35px;
    }

    #show .e-img{
        margin-top: 20px;
    }

}

@media (min-width: 1920px){

}
