/* public css */
html,body{
    overflow-x: hidden;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* 分割标题 */
.con-header .sort-tit{
    text-align: center;
    font-size: 28px;
    color: #242424;
    margin-top: 20px;
}
.con-header img{
    padding: 5px 0;
}


/*nav*/
#nav{
    padding: 20px 0;
    margin:0;
}
#nav .navbar-nav li a{
    color: #3d3d3d;
    margin: 0 5px;
}
#nav .last{
    padding-left: 20px;
    font-size: 16px;
    color: #3d3d3d;
}
#nav .last span{
    color:#1765b6;
    font-size: 24px;
    line-height: 14px;
    font-family: Arial;
}
#nav .logo{
    display: inline-block;
    margin-top: -12px;
    box-sizing: border-box;
}


/* 页面的导航 banner图下面的 */
.jump{
    height: 80px;
}
.jump h2{
    font-size: 26px;
    display: inline-block;
    line-height: 85px;
    margin: 0;
    color: #2c2c2c;
}
.jump .breadcrumb{
    display: inline-block;
    background-color: transparent;
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
}
.jump .breadcrumb li a{
    color: #6f6f6f;
}
.jump .breadcrumb .active{
    color: #206BB9;
}

.box-gray-title{
    font-size: 28px;
    color: #8c8c8c;
}

.problem{
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    color: #242424;
}
.problem span{
    color: #4BAEDE;
    font-size: 34px;
}


@media (max-width: 480px){
    /* 分割标题 */
    .con-header .sort-tit{
        font-size: 22px;
        margin-top: 20px;
    }


    .jump{
        height: 60px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 10px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }

    .box-gray-title{
        font-size: 22px;
        text-align: center;
    }


    .problem{
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    .problem span{
        font-size: 22px;
    }


}

@media (min-width: 480px){
    .con-header .sort-tit{
        font-size: 24px;
        margin-top: 20px;
    }

    .jump{
        height: 65px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 10px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }

    .box-gray-title{
        font-size: 22px;
        text-align: center;
    }

    .problem{
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .problem span{
        font-size: 24px;
    }
}

@media (min-width: 768px){
    /* 分割标题 */
    .con-header .sort-tit{
        font-size: 26px;
        margin-top: 25px;
    }

    .jump{
        height: 70px;
    }
    .jump h2{
        font-size: 20px;
        line-height: 70px;
        padding-left: 10px;
    }
    .jump .breadcrumb{
        margin-top: 20px;
    }

    .box-gray-title{
        font-size: 26px;
        text-align: center;
    }

    .problem{
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .problem span{
        font-size: 26px;
    }
}

@media (min-width: 992px){
    /* 分割标题 */
    .con-header .sort-tit{
        font-size: 28px;
        margin-top: 25px;
    }


    .jump{
        height: 70px;
    }
    .jump h2{
        font-size: 20px;
        line-height: 72px;
        padding-left: 10px;
    }
    .jump .breadcrumb{
        margin-top: 20px;
    }

    .box-gray-title{
        font-size: 28px;
        text-align: center;
    }

    .problem{
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .problem span{
        font-size: 28px;
    }
}

@media (min-width: 1200px){
    /* 分割标题 */
    .con-header .sort-tit{
        font-size: 30px;
        margin-top: 25px;
    }

}

@media (min-width: 1440px){
    /*导航栏样式*/
    .navbar-right{
        margin-top: 7px;
    }
    .navbar-nav li{
        padding-left: 10px;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
        left: 50%;

        transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
    }
    .navbar-nav .dropdown-menu li{
        padding-left: 0;
    }
    .navbar-nav .dropdown-menu li a{
        text-align: center;

        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }
    .navbar-nav .dropdown-menu li a:hover{
        padding-right: 30px;
    }
    .navbar-nav li a{
        padding: 10px;
    }


    /* 页面的导航 banner图下面的 */
    .jump{
        height: 80px;
    }
    .jump h2{
        font-size: 26px;
        display: inline-block;
        line-height: 85px;
        margin: 0;
        color: #2c2c2c;
    }
    .jump .breadcrumb{
        display: inline-block;
        background-color: transparent;
        margin-top: 25px;
        padding-left: 0;
        padding-right: 0;
    }
    .jump .breadcrumb li a{
        color: #6f6f6f;
    }
    .jump .breadcrumb .active{
        color: #206BB9;
    }

    .box-gray-title{
        font-size: 28px;
        color: #8c8c8c;
    }

    .problem{
        font-size: 24px;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
        color: #242424;
    }
    .problem span{
        color: #4BAEDE;
        font-size: 34px;
    }
}


/* 右侧小按钮 */
#small{
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 10%;
    padding: 10px 0;
    display: none;
}
#small li{
    width: 50px;
    height: 50px;
    position: relative;
    display: block;
    margin-top: 5px;
}
#small li a{
    display: block;
    height: 50px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    line-height: 50px;
    text-decoration: none;
    background-color: #2285c8;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
#small li a.tool{
    width: 185px;
}
#small li .tool-img{
    width: 50px;
    height: 50px;
}
#small li a span{
    position: absolute;
    top: 0;
    padding: 0 5px;
}
#small li a.tool:hover{
    left: -135px;
}


/* bot */
#bot{
    background-color: #f1f1f1;
    padding: 12px 0;
}
#bot h5{
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
}

