#banner{
    position: relative;
}
#banner p{
    position: absolute;
    text-indent:2em;
    width: 40%;
    color: #ffffff;
    top:0;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 19%;
    display: block;
    line-height: 35px;
}

.box-gray-title{
    text-indent: 1em;
    text-align: left;
}

#box1{
    padding: 50px 0;
    border-top: 1px solid #cccccc;
}

#box1 .main-pic{
    margin-top: 70px;
    margin-bottom: 70px;
}


#sys{
    margin-top: 40px;
    margin-bottom: 40px;
}
#sys .sort-tit{
    color: #ffffff;
}
#sys .row img{
    margin-top: 30px;
}




@media (max-width: 480px){
    #box1{
        padding: 20px 0;
    }
    #sys{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .box-gray-title{
        text-align: center;
    }

    #banner p{
        margin-top: 1%;
        font-size: 12px;
        text-indent: 0;
        left: 0;
        line-height: 20px;
    }

    #box1 .desc{
        line-height: 20px;
        margin-top: 12px;
        font-size: 12px;
    }
    #box1 .main-pic{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    #sys .row img{
        margin-top: 0;
    }
}


@media (min-width: 480px){
    #box1{
        padding: 30px 0;
    }
    #sys{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .box-gray-title{
        text-align: left;
        padding: 0 0 20px 0;
    }

    #banner p{
        margin-top: 3%;
        font-size: 14px;
        text-indent: 0;
        left: 0;
        line-height: 22px;
    }

    #box1 .desc{
        line-height: 20px;
        margin-top: 12px;
        font-size: 12px;
    }
    #box1 .sort-tit{
        margin-top: 20px;
    }
    #box1 .main-pic{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    #sys .row img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media (min-width: 768px){
    #box1{
        padding: 40px 0;
    }
    #sys{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #banner p{
        margin-top: 3%;
        font-size: 16px;
        text-indent: 0;
        left: 0;
        line-height: 24px;
    }

}

@media (min-width: 1440px){

    #box1{
        padding: 50px 0;
    }
    #sys{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #banner p{
        margin-top: 5%;
        font-size: 18px;
        text-indent: 0;
        left: 0;
        line-height: 35px;
    }
}


@media (min-width: 1920px){

    #banner{
        background: linear-gradient(left,#3164f3,#6120d2);
        background: -webkit-linear-gradient(left,#3164f3,#6120d2);
        background: -moz-linear-gradient(left,#3164f3,#6120d2);
        background: -o-linear-gradient(left,#3164f3,#6120d2);
        background: -ms-linear-gradient(left,#3164f3,#6120d2);
    }

    #sys{
        background: linear-gradient(left,#4d6f9b,#4d6f9b);
        background: -webkit-linear-gradient(left,#4d6f9b,#4d6f9b);
        background: -moz-linear-gradient(left,#656563,#4d6f9b);
        background: -o-linear-gradient(left,#4d6f9b,#4d6f9b);
        background: -ms-linear-gradient(left,#4d6f9b,#4d6f9b);
    }

}
