html,body{
    overflow-x: hidden;
}
.col-md-1-5 {
    width: 20%;
    float: left;
}
.col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

#banner{
    position: relative;
}

#banner .container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
#banner h1{
    color: #ffffff;
    margin-top: 10%;
    font-size: 55px;
    letter-spacing: 5px;
}
#banner p{
    color: #b2b3b6;
    margin-top: 5%;
    font-size: 25px;
    letter-spacing: 3px;
}



.jump{
    height: 80px;
}
.jump h2{
    font-size: 24px;
    display: inline-block;
    line-height: 85px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.jump .breadcrumb{
    display: inline-block;
    background-color: transparent;
    margin-top: 25px;
}
.jump .breadcrumb li a{
    color: #333333;
}
.jump .breadcrumb .active{
    color: #206BB9;
}


#main{
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 50px;
}
#main h3{
    color: #8c8c8c;
    text-align: left;
}
#main .desc{
    text-indent: 5%;
    margin-top: 3%;
    line-height: 35px;

}
#main .main-box{
    margin-top: 50px;
    margin-bottom: 50px;
}
#main .main-box span{
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    padding: 5px;
}


@media (max-width: 480px){
    .con-header .sort-tit{
        font-size: 22px;
    }

    #banner .container{
        top: 0;
    }
    #banner h1{
        margin-top: 8%;
        font-size: 22px;
        letter-spacing: 1px;
    }
    #banner p{
        margin-top: 0;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .jump{
        height: 60px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }


    #main{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #main h3{
        font-size: 22px;
        text-align: center;
    }
    #main .desc{
        line-height: 24px;
    }

    #main .main-box span{
        font-size: 14px;
        padding: 3px;
    }
    #main .main-box{
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media (min-width: 480px){

}

@media (min-width: 768px){

}

@media (min-width: 480px){

}
@media (min-width: 480px){

}


@media (min-width: 1440px) {
    /*导航栏样式*/
    .navbar-right{
        margin-top: 7px;
    }
    .navbar-nav li{
        padding-left: 10px;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
    }
    .navbar-nav .dropdown-menu li{
        padding-left: 0;
    }
    .navbar-nav .dropdown-menu li a{
        text-align: center;

        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }
    .navbar-nav .dropdown-menu li a:hover{
        padding-right: 30px;
    }
    .navbar-nav li a{
        padding: 10px;
    }
}
