#banner{
    position: relative;
}

#banner .container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
#banner h1{
    color: #ffffff;
    margin-top: 10%;
    font-size: 55px;
    letter-spacing: 5px;
}
#banner p{
    color: #b2b3b6;
    margin-top: 5%;
    font-size: 25px;
    letter-spacing: 3px;
}




#box1{
    border-top: 1px solid #cccccc;
    padding: 50px 0;
}

#box1 h3{
    color: #8c8c8c;
    text-align: center;
}
.problem{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
}
.problem span{
    color: #4BAEDE;
    font-size: 32px;
}
#box1 .row{
    margin-top: 20px;
    margin-bottom: 20px;
}
#box1 .box1-desc{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    line-height: 28px;
    text-indent: 2em;
}


#box2{
    padding: 50px 0;
}
#box2 .row img{
    margin-top: 30px;
}



#sys{
    padding: 40px 0;
    background: url("../images/water/sys-banner.png")no-repeat;
    background-size: cover;
}
#sys .sort-tit{
    color: #ffffff;
}
#sys .row img{
    margin-top: 30px;
}


#intro{
    padding: 40px 0;
}
#intro .row img{
    margin-top: 50px;
    margin-bottom: 50px;
}

#special{
    padding: 50px 0;
}
#special .container{
    margin-top: 20px;
}
#special .container p{
    width: 70%;
    margin-left: 15%;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 15px;
}
#special .container img{
    margin-top: 50px;
}


@media (max-width: 480px){
    .con-header .sort-tit{
        font-size: 22px;
        font-weight: 600;
    }
    .lazy{
        width: 90%;
        margin-left: 5%;
    }
    #banner .container{
        top: 0;
        width: 90%;
        padding: 0;
        margin: 0;
    }
    #banner h1{
        margin-top: 3%;
        font-size: 22px;
        letter-spacing: 1px;
    }
    #banner p{
        margin-top: 0;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .jump{
        height: 60px;
    }
    .jump h2{
        font-size: 18px;
        line-height: 65px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .jump .breadcrumb{
        margin-top: 15px;
    }

    #box1,#box2{
        padding: 20px 0;
    }

    #box1 .row{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #box1 .box1-desc{
        margin-top: 10px;
        line-height: 24px;
    }

    #box2 .row img{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #sys{
        padding: 20px 0;
    }
    #sys .row img{
        margin-top: 15px;
    }


    #intro{
        padding: 20px 0;
    }
    #intro .row img{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    #special{
        padding: 20px 0;
    }
    #special .container{
        margin-top: 10px;
    }
    #special .container p{
        width: 90%;
        margin-left: 5%;
        line-height: 24px;
        text-indent: 2em;
        margin-top: 10px;
    }
    #special .container img{
        margin-top: 30px;
    }

}
